torch   # for torch.hub
#tensorflow  # for other models than CLIP
torchvision # for torchvision.models
click   # for command line interface
rich    # for logging
#toml  # for poetry config file
numpy   # for image loading
pillow # for image loading
git+https://github.com/openai/CLIP.git # for CLIP (main model for analyzing images)
opencv-python # for simple analysis quality of images (sharpness, detecting faces)
# sphinx sphinx-click sphinx-intl myst-parser furo sphinx-rtd-theme deepl # for documentation + translate
