torch                # for torch.hub
torchvision          # for torchvision.models
click                # for command line interface
rich                 # for logging
numpy                # for image loading
pillow               # for image loading
opencv-python        # for simple analysis quality of images (sharpness, detecting faces)

git+https://github.com/openai/CLIP.git  # for CLIP (image analysis)


# Additional (for documentation)
################################
#sphinx               # for documentation
#sphinx-click         # for CLI documentation
#sphinx-intl          # for translations
#myst-parser          # for Markdown support
#furo                 # for modern documentation theme
#sphinx-rtd-theme     # optional, for alternate theme
#deepl                # for translation (optional)
#pypandoc             # for exporting to DOCX
#dotenv               # for environment variables
